<%
  session['has_done_survey'] = params["survey_done"] unless params["survey_done"].nil?
%>

<div class="row work-type">
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Thank you. The information you entered has been saved successfully.
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <%
            download_url = ''
            if params['from']=='collection'
                download_url = "/zipfiles/#{params['collection_id']}.zip"
                collection_id = "#{params['collection_id']}"
                collecton_fileset_count = CollectionHelper.get_collection_file_number(collection_id)
            else
                download_url = "/downloads/#{params['fileset_id']}"
                fileset_id = "#{params['fileset_id']}"
                resource_doc = FileSetHelper.get_parent_resource_docs(fileset_id)
            %>
              <input type="hidden" id="resource_languages" value="<%= ResourceHelper.get_languages(resource_doc).join('|')%>"/>
              <input type="hidden" id="resource_type_of_materials" value="<%= ResourceHelper.get_type_of_materials(resource_doc).join('|')%>"/>
              <input type="hidden" id="resource_ages" value="<%= ResourceHelper.get_ages(resource_doc).join('|')%>"/>
              <input type="hidden" id="resource_pedagogical_focus" value="<%= ResourceHelper.get_pedagogical_focus(resource_doc).join('|')%>"/>
              <input type="hidden" id="resource_material_for_teacher" value="<%= ResourceHelper.get_material_for_teacher(resource_doc).join('|')%>"/>
            <%
            end
            %>

            <button type="button" class="btn btn-info"
            <% if params['from'] != 'collection' %> 
                id="file_download" data-label="<%= fileset_id %>"
            <% else %>
                id="collection_download_all" data-label="<%= collection_id %>" data-value="<%= collecton_fileset_count%>"
            <% end %>
                onclick="window.open('<%= download_url%>','_blank');parent.location.reload(true);">Download resource
            </button>

            <button type="button" class="btn btn-info" onclick="parent.location.reload(true);">Close</button>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
