<div>
  <div class="featured-item-title">
    <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
    <h3>
      <%= link_to [main_app, featured] do %>
        <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) + featured.title.first %>
      <% end %>
    </h3>
  </div>

  <div class="featured-field featured-item-keywords ncelp-homepage-featured-field">
    <%= featured.solr_document.one_line_description %>
  </div>

  <div class="featured-field featured-item-keywords ncelp-homepage-featured-field">
    <% unless featured.solr_document.type_of_material.nil? %>
      <%= link_to GenericLocalAuthorityService.id_to_label('type_of_material', featured.solr_document.type_of_material),
                  '/catalog?f[type_of_material_sim][]=' + featured.solr_document.type_of_material + '&locale=en&q=&search_field=all_fields',
                  :target => "_blank" %>
    <% end %>
  </div>
</div>
