<!-- top boxes -->
<div class="container">
  <div class="col-xs-12 col-sm-12 ncelp-homepage-middle-box">
    <h3>SEARCH</h3>
    <br/>
    Enter <b>any text</b> you wish into the search box (e.g. speaking, French, grammar)<br/>
    <br/>
    <%= render partial: 'homepage_search_form' %>
    <br/>
    Don't know what to search for? Browse "<strong>All Resources</strong>" below and use the filters to refine your search
  </div>
  <div class="col-xs-12 col-sm-12 ncelp-homepage-middle-box">
    <h3>BROWSE by</h3>
    <div class="row ncelp-homepage-browse-buttons-row">
      <div class="col-xs-6 col-sm-3">
        <div class="ncelp-homepage-browse-button">
          <%=link_to "All resources;", "/catalog", target: :_blank %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ncelp-homepage-browse-button">
          <%=link_to 'Pedagogical focus', "/catalog/facet/area_of_research_sim", target: :_blank %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ncelp-homepage-browse-button">
          <%=link_to 'Language being learnt', "/catalog/facet/language_sim", target: :_blank %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ncelp-homepage-browse-button">
          <%=link_to 'Target age range', "/catalog/facet/age_sim", target: :_blank %>
        </div>
      </div>
    </div>
    <div class="row ncelp-homepage-browse-buttons-row">
      <div class="col-xs-6 col-sm-3">
        <div class="ncelp-homepage-browse-button">
          <%=link_to 'Type/purpose of resource', "/catalog/facet/type_of_material_sim", target: :_blank %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ncelp-homepage-browse-button">
          <%=link_to 'Modality/mode (skill)', "/catalog/facet/modality_sim", target: :_blank %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ncelp-homepage-browse-button">
          <%=link_to 'Topic', "/catalog/facet/topic_sim", target: :_blank %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="ncelp-homepage-browse-button">
          <%=link_to 'Thematic/semantic field', "/catalog/facet/thematic_sim", target: :_blank %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- bottom boxes -->
<div class="container">
  <div class="col-xs-12 col-sm-8 ncelp-homepage-bottom-box-left">
    <h4><%= t('hyrax.homepage.featured_works.tab_label') %></h4>
    <%= render 'featured_works' %>
  </div>
  <div class="col-xs-12 col-sm-4 ncelp-homepage-bottom-box-right">
    <h4><%= t('hyrax.homepage.recently_uploaded.tab_label') %></h4>
    <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  </div>
</div>

