<!-- top boxes -->
<div class="container">

  <div class="hidden">
      <h1>Resource Portal - Language Driven Pedagogy</h1>
  </div>

  <div class="col-md-12 ncelp-homepage-feature-box" aria-label="Courses banner" role="banner">
    <div class="buttons container-fluid">
    <h2>Find out more about our CPD for MFL teachers: </h2>
      <a class="btn btn-primary"
          role="button" 
          href="https://www.york.ac.uk/education/research/language-driven-pedagogy/professional-development/"
          target="_blank"
          title="Learn more about the pedagogy with our professional development materials (opens in a new window)">Our Courses</a>
    </div>
  </div>

  <div class="col-md-12 ncelp-homepage-middle-box">

    <h2>Search</h2>

    <br/>

    <label class="homepage-search-label" for="search-field-header">
        Enter <b>any text</b> you wish into the search box (e.g. speaking, French, grammar)
    </label><br/>

    <br/>
    <%= render partial: 'homepage_search_form' %>
    <br/>
    Don't know what to search for? Browse "<strong>All Resources</strong>" below and use the filters to refine your search
  </div>
  <div class="col-md-8 ncelp-homepage-feature-box" aria-label="Copyright banner" role="banner">
    <div class="buttons container-fluid">
      <h2>Resource Rights</h2>
      <p>This resource is free to use for non-commercial purposes (for example, individual teaching and research). 
        By downloading, you agree that you are not using this for commercial purposes unless you have had prior agreement 
        from LDP. If you are interested in using these resources for commercial purposes (e.g., textbook creation, test development) 
        or would like to work with <em>LDP</em> please contact: <a href="mailto:ldp-project@york.ac.uk">ldp-project@york.ac.uk</a>
      </p>
    </div>
  </div>
  <div class="col-md-4 ncelp-homepage-feature-box" aria-label="Number of files download banner" role="banner">
    <div class="buttons container-fluid" style="padding-top: 24px; padding-bottom: 24px; padding-left: 22px;">
      <%= render 'download_stats' %>
    </div>
  </div>
  <div class="col-md-12 ncelp-homepage-middle-box">
    
    <div class="row">

      <h2 class="col-md-12">Browse by</h2>

      <%
      browse_by_links = [
        ['All resources', '/catalog'],
        ['Pedagogical focus', '/catalog/facet/area_of_research_sim'],
        ['Language being learnt', '/catalog/facet/language_sim'],
        ['Target age range', '/catalog/facet/age_sim'],
        ['All collections', '/all-collections'],
        ['Rationales and research', '/collections/2227mp79s?utf8=✓&sort=score+desc%2C+system_create_dtsi+desc&per_page=100&locale=en'],
        ['Professional development', '/collections/0c483j43w?utf8=✓&sort=score+desc%2C+system_create_dtsi+desc&per_page=100&locale=en'],
        ['Presentation screencasts', '/collections/4x51hj27z?utf8=✓&sort=score+desc%2C+system_create_dtsi+desc&per_page=100&locale=en']
      ]
      %>

      <% browse_by_links[0..3].each do |browse_by_link| %>
        <div class="col-md-3 col-xs-12 col-sm-12 ncelp-homepage-browse-button-div">
          <%=link_to browse_by_link[0], browse_by_link[1], target: :_blank, title: 'Browse by ' + browse_by_link[0].downcase, class: "ncelp-homepage-browse-button-link" %>
        </div>
      <% end %>

      <% browse_by_links[4..7].each do |browse_by_link| %>
        <div class="col-md-3 col-xs-12 col-sm-12 ncelp-homepage-browse-button-div">
          <%=link_to browse_by_link[0], browse_by_link[1], target: :_blank, title: 'Browse by ' + browse_by_link[0].downcase, class: "ncelp-homepage-browse-button-link2" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- middle boxes -->
<div class="container">
  <div class="row">    
  
    <div class="col-xs-12 col-sm-12 col-md-10">
      <div class="ncelp-homepage-teacher-box">
        <div class="container">
          <div class="col-xs-11 col-sm-11 col-md-6">
            <h2>LDP Teaching materials and schemes of work</h2>
            <p>LDP provides schemes of work (SOW, a detailed and sequenced curriculum) and associated classroom resources. LDP SOWs are proposed as examples of how language knowledge and practice can be sequenced and re-visited systematically to support progression in the early stages of language development within a low exposure foreign language setting.</p>
            <%=link_to "Read more", "/schemes-of-work", target: :_blank, title: 'Read more about LDP Teaching materials and schemes of work', class: "ncelp-homepage-small-button-link" %>
          </div>
          <div class="col-xs-11 col-sm-11 col-md-3">
          <%=link_to "French: Teaching materials + Scheme of work", "https://resources.ldpedagogy.org/collections/t148fh31r?locale=en", target: :_blank, title: "Browse by " + "French Teaching material + Scheme of work", class: "ncelp-homepage-french-button-link" %>
          <%=link_to "German: Teaching materials + Scheme of work", "https://resources.ldpedagogy.org/collections/k3569444k?locale=en", target: :_blank, title: "Browse by " + "German Teaching material + Scheme of work", class: "ncelp-homepage-german-button-link" %>
          <%=link_to "Spanish: Teaching materials + Scheme of work", "https://resources.ldpedagogy.org/collections/f1881m10k?locale=en", target: :_blank, title: "Browse by " + "Spanish Teaching material + Scheme of work", class: "ncelp-homepage-spanish-button-link" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2">
      <div class="ncelp-homepage-mail-box">
        <h2>Mailing list</h2>
        <p>To receive a regular bulletin of new and updated resources and LDP news and activities, sign up to our mailing list.</p>
        <%=link_to "Subscribe", "https://docs.google.com/forms/d/e/1FAIpQLSeJy-sMKW_1qQQMJWxatdS_FBS2a8IMIBT_XOSoNf9nvsCb_w/viewform", target: :_blank, title: 'Subscribe to our mailing list', class: "ncelp-homepage-small-button-link" %>
      </div>
    </div>

  </div>
</div>

<!-- bottom boxes -->
<div class="container"> 
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 ncelp-homepage-bottom-box">
      <div class="ncelp-homepage-bottom-box-left">  
        <h2><%= t('hyrax.homepage.featured_works.tab_label') %></h2>
        <%= render 'featured_works' %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 ncelp-homepage-bottom-box">
      <div class="ncelp-homepage-bottom-box-right">
        <h2><%= t('hyrax.homepage.recently_uploaded.tab_label') %></button></h2>
        <%= render 'recently_uploaded', recent_documents: @recent_documents %>
      </div>
    </div>
  
  </div>  
</div>

<div class="container extra-space-bottom ncelp_footer_container">
  <div class="col-sm-10" style="padding-top: 20px;"></div>
  <div class="col-sm-2">
    <%= link_to image_tag(t('ncelp.footer.uoy_logo'), :class=>'ncelp_footer_image', alt: "University of York"), "https://www.york.ac.uk/", target: :_blank %>
  </div>
</div>

