<!-- top boxes -->
<div class="containerX">

  <div class="hidden">
      <h1>NCELP Resource Portal - National Centre for Excellence for Language Pedagogy</h1>
  </div>

  <div class="col-md-12 ncelp-homepage-middle-box" id="coronavirus" aria-label="Coronavirus banner" role="banner">
    <div class="buttons container-fluid">
    <h2>Coronavirus (COVID-19): </h2>
      <a class="btn btn-primary"
          role="button"
          href="https://ncelp.org/ncelp-approaches-to-remote-teaching-and-learning/"
          target="_blank"
          title="NCELP approaches to teaching and learning during COVID-19 (opens in a new window)">
          NCELP approaches to teaching and learning during COVID-19</a>
      <a class="btn btn-primary"
          role="button" 
          href="https://ncelp.org/ncelp-teacher-cpd"
          target="_blank"
          title="NCELP teacher CPD (opens in a new window)">NCELP teacher CPD</a>
    </div>
  </div>

  <div class="col-md-12 ncelp-homepage-middle-box">

    <h2>Search</h2>

    <br/>

    <label class="homepage-search-label" for="search-field-header">
        Enter <b>any text</b> you wish into the search box (e.g. speaking, French, grammar)
    </label><br/>

    <br/>
    <%= render partial: 'homepage_search_form' %>
    <br/>
    Don't know what to search for? Browse "<strong>All Resources</strong>" below and use the filters to refine your search
  </div>

  <div class="col-md-12 ncelp-homepage-middle-box">
    
    <div class="row">

      <h2 class="col-md-12">Browse by</h2>

      <%
      browse_by_links = [
        ['All resources', '/catalog'],
        ['Pedagogical focus', '/catalog/facet/area_of_research_sim'],
        ['Language being learnt', '/catalog/facet/language_sim'],
        ['Target age range', '/catalog/facet/age_sim'],
        ['All collections', '/catalog?f%5Bhuman_readable_type_sim%5D%5B%5D=Collection&locale=en&per_page=100&view=gallery'],
        ['Rationales and research', '/collections/2227mp79s?utf8=✓&sort=score+desc%2C+system_create_dtsi+desc&per_page=100&locale=en'],
        ['Professional development', '/collections/0c483j43w?utf8=✓&sort=score+desc%2C+system_create_dtsi+desc&per_page=100&locale=en'],
        ['Presentation screencasts', '/collections/4x51hj27z?utf8=✓&sort=score+desc%2C+system_create_dtsi+desc&per_page=100&locale=en']
      ]
      %>

      <% browse_by_links[0..3].each do |browse_by_link| %>
        <div class="col-md-3 col-xs-12 col-sm-12 ncelp-homepage-browse-button-div">
          <%=link_to browse_by_link[0], browse_by_link[1], target: :_blank, title: 'Browse by ' + browse_by_link[0].downcase, class: "ncelp-homepage-browse-button-link" %>
        </div>
      <% end %>

      <% browse_by_links[4..7].each do |browse_by_link| %>
        <div class="col-md-3 col-xs-12 col-sm-12 ncelp-homepage-browse-button-div">
          <%=link_to browse_by_link[0], browse_by_link[1], target: :_blank, title: 'Browse by ' + browse_by_link[0].downcase, class: "ncelp-homepage-browse-button-link2" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- bottom boxes -->
<div class="containerX ncelp-homepage-featured-and-recent-box">

  <div class="col-xs-12 col-sm-12 col-md-6 ncelp-homepage-bottom-box">

    <div class="ncelp-homepage-bottom-box-left">
    
          <h2><%= t('hyrax.homepage.featured_works.tab_label') %></h2>
          <%= render 'featured_works' %>

    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 ncelp-homepage-bottom-box">
    
    <div class="ncelp-homepage-bottom-box-right tabs">

        <div class="tab-buttons" role="tablist" aria-label="Recently uploaded and explore collections">
          <button aria-expanded="true" href="#tab-col2-first" role="tab" aria-selected="true" aria-controls="tab-col2-first" id="tab-1" data-toggle="tab" class="btn btn-primary"><%= t('hyrax.homepage.recently_uploaded.tab_label') %></button>
          <button aria-expanded="false" href="#tab-col2-second" role="tab" aria-selected="false" aria-controls="tab-col2-second" id="tab-2" data-toggle="tab" class="btn btn-default">Explore Collections</button>
        </div>

        <div class="tab-content">

          <div class="tab-pane active" id="tab-col2-first" role="tabpanel" tabindex="0" aria-labelledby="tab-1">
            <%= render 'recently_uploaded', recent_documents: @recent_documents %>
          </div>

          <div class="tab-pane" id="tab-col2-second" role="tabpanel" tabindex="0" aria-labelledby="tab-2">
            <%= render 'explore_collections', collections: @presenter.collections %>
          </div>

        </div>

    </div>

  </div>

</div>



<div class="containerX extra-space-bottom ncelp_footer_container">
  <div class="col-sm-10" style="padding-top: 20px;">
    <%= link_to image_tag(t('ncelp.footer.education_dept_logo'), :class=>'ncelp_footer_image', alt: "Department for Education"), "https://www.york.ac.uk/education/", target: :_blank %>
  </div>
  <div class="col-sm-2">
    <%= link_to image_tag(t('ncelp.footer.uoy_logo'), :class=>'ncelp_footer_image', alt: "University of York"), "https://www.york.ac.uk/", target: :_blank %>
  </div>
</div>

