<!-- top boxes -->
<div class="container">

  <div class="hidden">
      <h1>NCELP Resource Portal - National Centre for Excellence for Language Pedagogy</h1>
  </div>

  <div class="col-xs-12 col-sm-12 ncelp-homepage-middle-box">

    <h3>Search</h3>

    <br/>

    <label class="homepage-search-label" for="search-field-header">
        Enter <b>any text</b> you wish into the search box (e.g. speaking, French, grammar)
    </label><br/>

    <br/>
    <%= render partial: 'homepage_search_form' %>
    <br/>
    Don't know what to search for? Browse "<strong>All Resources</strong>" below and use the filters to refine your search
  </div>

  <div class="col-xs-12 col-sm-12 ncelp-homepage-middle-box">

    <h3>Browse by</h3>

    <div class="row">

      <%
      browse_by_links = [
        ['All resources', '/catalog'],
        ['Pedagogical focus', '/catalog/facet/area_of_research_sim'],
        ['Language being learnt', '/catalog/facet/language_sim'],
        ['Target age range', '/catalog/facet/age_sim'],
        ['Type/purpose of resource', '/catalog/facet/type_of_material_sim'],
        ['Modality/mode (skill)', '/catalog/facet/modality_sim'],
        ['Topic', '/catalog/facet/topic_sim'],
        ['Thematic/semantic field', '/catalog/facet/thematic_sim']
      ]
      %>

      <% browse_by_links.each do |browse_by_link| %>
        <div class="col-md-3 col-xs-6 col-sm-12 ncelp-homepage-browse-button-div">
          <%=link_to browse_by_link[0], browse_by_link[1], target: :_blank, title: 'Browse by ' + browse_by_link[0].downcase, class: "ncelp-homepage-browse-button-link" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- bottom boxes -->
<div class="container ncelp-homepage-featured-and-recent-box">
  <div class="col-xs-12 col-sm-7 ncelp-homepage-bottom-box-left">
    <h4><%= t('hyrax.homepage.featured_works.tab_label') %></h4>
    <%= render 'featured_works' %>
    <br/>
  </div>
  <div class="col-xs-12 col-sm-5 ncelp-homepage-bottom-box-right">
    
    <div class="tab-buttons">
      <a aria-expanded="true" href="#tab-col2-first" role="tab" data-toggle="tab" class="btn btn-primary"><%= t('hyrax.homepage.recently_uploaded.tab_label') %></a>
      <a aria-expanded="false" href="#tab-col2-second" role="tab" data-toggle="tab" class="btn btn-default">Explore Collections</a>
    </div>

    <div class="tab-content">
      <div class="tab-pane active" id="tab-col2-first">
        <%= render 'recently_uploaded', recent_documents: @recent_documents %>
      </div>
      <div class="tab-pane" id="tab-col2-second">
        <%= render 'explore_collections', collections: @presenter.collections %>
      </div>
    </div>


  </div>
</div>

<div class="container extra-space-bottom ncelp_footer_container">
  <div class="col-sm-10" style="padding-top: 20px;">
    <%= link_to image_tag(t('ncelp.footer.education_dept_logo'), :class=>'ncelp_footer_image', alt: "Department for Education"), "https://www.york.ac.uk/education/", target: :_blank %>
  </div>
  <div class="col-sm-2">
    <%= link_to image_tag(t('ncelp.footer.uoy_logo'), :class=>'ncelp_footer_image', alt: "University of York"), "https://www.york.ac.uk/", target: :_blank %>
  </div>
</div>

