<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>

<style>
    .fancybox-container {
        width: 100%;
    }
    .fancybox-content {
        max-width: 600px;
        max-height: 800px;
    }
</style>

<% if Hyrax.config.display_media_download_link? && can?(:download, file_set.id) %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>

      <% resourceid= request.original_url[/#{"parent/"}(.*?)#{"/file_sets"}/m, 1]%>

      <% unless (session['has_done_survey'] == 'yes' or resourceid.nil?) %>
        <a data-fancybox
           data-type="iframe"
           data-captain="Downloader Survey"
           data-src="/survey/new?resource_id=<%= resourceid %>&resource_fileset_id=<%= file_set.id%>"
           data-options='{
              "buttons" : ["close"],
              "animationEffect": "fade",
              "animationDuration": "500",
              "autoFocus": "true",
              "modal": "true"
            }'
           href="javascript:;" >
          <%= t('hyrax.file_set.show.downloadable_content.image_link') %>
        </a>
      <% else %>
        <%= link_to t('hyrax.file_set.show.downloadable_content.image_link'),
                    hyrax.download_path(file_set),
                    data: { label: file_set.id },
                    target: :_blank,
                    id: "file_download" %>
      <% end %>

    </div>
<% else %>
    <div>
      <%= image_tag thumbnail_url(file_set),
                    class: "representative-media",
                    alt: "",
                    role: "presentation" %>
    </div>
<% end %>
