<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li <%= 'class=active' if current_page?(hyrax.root_path) %>>
        <%= link_to t(:'hyrax.controls.home'), hyrax.root_path, aria: current_page?(hyrax.root_path) ? {current: 'page'} : nil %></li>
        <li <%= 'class=active' if current_page?(hyrax.about_path) %>>
        <%= link_to t(:'hyrax.controls.about'), hyrax.about_path, aria: current_page?(hyrax.about_path) ? {current: 'page'} : nil %></li>
        <li <%= 'class=active' if current_page?('/schemes-of-work') %>>
        <%= link_to t(:'hyrax.pages.tabs.schemes_of_work_page'), '/schemes-of-work', aria: current_page?('/schemes-of-work') ? {current: 'page'} : nil %></li> 
        <% if user_signed_in? %>
        <li <%= 'class=active' if current_page?('/concern/resources/new') %>>
        <%= link_to t(:'ncelp.menubar.upload'), '/concern/resources/new', aria: current_page?('/concern/resources/new') ? {current: 'page'} : nil %></li>
        <% end %>
        <li <%= 'class=active' if current_page?(hyrax.contact_path) %>>
        <%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path, aria: current_page?(hyrax.contact_path) ? {current: 'page'} : nil %></li>
        <li <%= 'class=active' if current_page?(hyrax.help_path) %>>
        <%= link_to t(:'hyrax.controls.help'), hyrax.help_path, aria: current_page?(hyrax.help_path) ? {current: 'page'} : nil %></li>
        <% if user_signed_in? %>
        <li <%= 'class=active' if current_page?('/dashboard') %>>
        <%= link_to 'Dashboard', '/dashboard', aria: current_page?('/dashboard') ? {current: 'page'} : nil %></li>
        <% end %>
        <li>
        <%= link_to 'TO NCELP.ORG', 'https://ncelp.org/', target: :_blank %></li>
      </ul><!-- /.nav -->

      <% if current_page?('/catalog') %>
        <%= render partial: 'catalog/ncelp_search_form' %>
      <% end %>
    
    </div>
    
  </div>
</nav><!-- /.navbar -->
