<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= render 'resource_show_title', presenter: @presenter %>
    </div>
  </div>
</div>

<div class="row ncelp-resource-details-social">
  <%= render 'social_media' %>
</div>

<% document=@presenter.solr_document %>
<!-- top box -->
<div class="row ncelp-resource-details-box">
  <%= render :partial => 'generic_field', :locals => {:field_name => 'ncelp_title', :field_value => document.ncelp_title} %><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'full_description', :field_value => document.full_description} %><br/>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      File
    </div>
    <div class="col-xs-12 col-sm-9">
      <% document.file_type.each do |ft| %>
        <span>
          <%= image_tag(FileTypeIcon.get_icon(ft.downcase), class: "ncelp-resource-icon")%>
        </span>
      <% end %>
    </div>
  </div><br/>
  <%= render :partial => 'authority_field',   :locals => {:field_name => 'language', :field_value => document.language} %><br/>
  <%= render :partial => 'authority_field', :locals => {:field_name => 'type_of_material', :field_value => document.type_of_material} %><br/>
  <%= render :partial => 'authority_field', :locals => {:field_name => 'area_of_research', :field_value => document.area_of_research} %><br/>
  <%= render :partial => 'authority_field', :locals => {:field_name => 'modality', :field_value => document.modality} %><br/>
  <%= render :partial => 'authority_field', :locals => {:field_name => 'age', :field_value => document.age} %><br/>
  <%= render :partial => 'authority_field', :locals => {:field_name => 'exposure', :field_value => document.exposure} %><br/>
  <%= render :partial => 'authority_field', :locals => {:field_name => 'thematic', :field_value => document.thematic} %><br/>
  <%= render :partial => 'authority_field', :locals => {:field_name => 'topic', :field_value => document.topic} %>
</div>
<br/>

<!-- middle box -->
<div class="row ncelp-resource-details-box">
  <%= render :partial => 'generic_field', :locals => {:field_name => 'creator', :field_value => document.creator} %><br/>
  <%= render :partial => 'iris_link_field', :locals => {:field_value => document.link_to_iris} %><br/>
</div>
<br/>
<!-- bottom box -->
<div class="row ncelp-resource-details-box">
  <%= render :partial => 'oasis_link_field', :locals => {:field_name => 'link_to_oasis', :field_value => document.link_to_oasis} %><br/>
</div>
<br/>
<div class="row ncelp-resource-details-box">
  <div class="col-sm-12">
    <%= render 'items', presenter: @presenter %>
  </div>
</div>