<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= render 'resource_show_title', presenter: @presenter %>
    </div>
  </div>
</div>

<div class="row ncelp-resource-details-social">
  <%= render 'social_media' %>
</div>

<% document=@presenter.solr_document %>
<!-- top box -->
<div class="row ncelp-resource-details-box">
  <%= render :partial => 'generic_title_field', :locals => {:field_name => 'ncelp_title', :field_value => document.ncelp_title} %><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'full_description', :field_value => document.full_description} %><br/>
  <div class="row">
    <div class="col-xs-12 col-sm-3 ncelp-resource-details-label">
      File type
    </div>
    <div class="col-xs-12 col-sm-9">
      <% document.file_type.each do |ft| %>
        <span>
          <%= image_tag(FileTypeIcon.get_icon(ft),
                        class: "ncelp-resource-icon",
                        alt: GenericLocalAuthorityService.id_to_label('file_type', ft),
                        title: GenericLocalAuthorityService.id_to_label('file_type', ft))%>
        </span>
      <% end %>
    </div>
  </div><br/>
  <% if document.language.length > 0 %>
    <%= render :partial => 'authority_field',   :locals => {:field_name => 'language', :field_value => document.language} %><br/>
  <% end %>
  <% if document.type_of_material != '' %>
    <%= render :partial => 'authority_field', :locals => {:field_name => 'type_of_material', :field_value => document.type_of_material} %><br/>
  <% end %>
  <% if document.material_for_teachers.length > 0 %>
    <%= render :partial => 'authority_field', :locals => {:field_name => 'material_for_teachers', :field_value => document.material_for_teachers} %><br/>
  <% end %>
  <% if document.area_of_research.length > 0 %>
    <%= render :partial => 'authority_field', :locals => {:field_name => 'area_of_research', :field_value => document.area_of_research} %><br/>
  <% end %>
  <% if document.modality.length > 0 %>
    <%= render :partial => 'authority_field', :locals => {:field_name => 'modality', :field_value => document.modality} %><br/>
  <% end %>
  <% if document.age.length > 0 %>
    <%= render :partial => 'authority_field_index_by_id', :locals => {:field_name => 'age', :field_value => document.age} %><br/>
  <% end %>
  <% if document.exposure %>
    <%= render :partial => 'authority_field', :locals => {:field_name => 'exposure', :field_value => document.exposure} %><br/>
  <% end %>
  <% if document.thematic.length > 0 %>
    <%= render :partial => 'authority_field', :locals => {:field_name => 'thematic', :field_value => document.thematic} %><br/>
  <% end %>
  <% if document.topic.length > 0 %>
    <%= render :partial => 'authority_field', :locals => {:field_name => 'topic', :field_value => document.topic} %>
  <% end %>
</div>
<br/>

<% if document.link_to_iris.length > 0 %>
  <div class="row ncelp-resource-details-box">
    <%= render :partial => 'generic_field', :locals => {:field_name => 'creator', :field_value => document.creator} %><br/>
    <%= render :partial => 'iris_link_field', :locals => {:field_value => document.link_to_iris} %><br/>
  </div>
  <br/>
<% end %>
<% if document.link_to_iris.length > 0 %>
  <div class="row ncelp-resource-details-box">
    <%= render :partial => 'oasis_link_field', :locals => {:field_name => 'link_to_oasis', :field_value => document.link_to_oasis} %><br/>
  </div>
  <br/>
<% end %>
<div class="row ncelp-resource-details-box">
  <div class="col-sm-12">
    <%= render 'items', presenter: @presenter %>
  </div>
</div>