<% provide :page_title, @presenter.page_title %>

<%= render 'shared/nceheader' %>

<%= render 'shared/citations' %>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= render 'resource_show_title', presenter: @presenter %>
    </div>
  </div>
</div>

<% document=@presenter.solr_document %>
<!-- top box -->
<div class="row ncelp-resource-details-box">
  <%= render :partial => 'generic_field', :locals => {:field_name => 'title', :field_value => document.title} %><br/>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      File
    </div>
    <div class="col-xs-12 col-sm-9">
      <% document.file_type.each do |ft| %>
        <span>
          <%= image_tag(FileTypeIcon.get_icon(ft.downcase), class: "ncelp-resource-icon")%>
        </span>
      <% end %>
    </div>
  </div><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'language', :field_value => document.language} %><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'type_of_material', :field_value => document.type_of_material} %><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'area_of_research', :field_value => document.area_of_research} %><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'modality', :field_value => document.modality} %><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'age', :field_value => document.age} %><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'exposure', :field_value => document.exposure} %><br/>
  <%= render :partial => 'generic_field', :locals => {:field_name => 'topic', :field_value => document.topic} %>
</div>
<br/>

<!-- middle box -->
<div class="row ncelp-resource-details-box">

</div>
<br/>
<!-- bottom box -->
<div class="row ncelp-resource-details-box">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      bottom left
    </div>
    <div class="col-xs-12 col-sm-9">
      right
    </div>
  </div>
</div>